<div class="mt-3">
        <footer class="footer">
          <div class="container text-center">
            <small class="text-muted">&copy; TradeMark CredNITT 2020 | <a href="/">Home</a> | </small>
          </div>
        </footer>
        </div>
    </div>
</body>
</html>